<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tareas JMLG{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!--<meta name="viewport" content="width=device-width", initial-scale="1"<, maximum-scale="1">-->
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/functions.js') }}"></script>
        <meta name="viewport" content="width=device-width", initial-scale="1", maximum-scale="1">
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        <div class="container">
            <div class="row">
                <div class="cold-md-10 cold-md-offset2 col-xs-10 col-xs-offset-1">
                <div id="alerts"></div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </div>
        
        {% block javascripts %}{% endblock %}
    <footer>
        
        {% include 'footer.html.twig' %}
    </footer>
    </body>
</html>
